<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#carAddModal">
        <span class="glyphicon glyphicon-plus"></span> Add Car
      </button>
      <ul class="nav nav-pills nav-stacked">
        {{log controller}}
        {{log model}}
        {{#with model as cars}}
          {{#each car in cars}}
            <li>{{link-to car.fullName 'car' car}}</li>
            {{#if car.treatments}}
              <li class="dropdown-header">{{link-to 'Treatments' 'treatments' car.id}}</li>
            {{/if}}
          {{/each}}
        {{/with}}
      </ul>
    </div>
    <div class="col-md-9">
      {{partial 'car/add'}}
      {{outlet}}
    </div>
  </div>
</div>
