<div class="container">
    <div class="alert alert-{{unbound determine-error-class model}}">
      <strong>{{model.status}}</strong>
        {{#if model.responseJSON.detail}}
          {{model.responseJSON.detail}}
        {{else}}
          {{model.responseText}}
        {{/if}}
    </div>
</div>
