<div class="container">
    <div class="alert alert-{{unbound determine-error-class controller}}">
      <strong>{{status}}</strong>
        {{#if message}}
          {{message}}
        {{else}}
          {{#if responseJSON.detail}}
            {{responseJSON.detail}}
          {{else}}
            {{responseText}}
          {{/if}}
        {{/if}}
    </div>
</div>
