<form role="form">
  <div class="form-group">
    <label>Brand</label>
    {{input type="text" class="form-control" value=car.brand}}
  </div>

  <div class="form-group">
    <label>Model</label>
    {{input type="text" class="form-control" value=car.model.model}}
  </div>

  <div class="form-group">
    <label>Year</label>
    {{view Ember.Select content=car.years value=car.year class="form-control"}}
  </div>

  <div class="form-group">
    <label>Gearbox type</label>
    {{view Ember.Select
           content=car.gearboxTypes
           optionValuePath="content.type"
           optionLabelPath="content.label"
           value=car.gearboxType
           class="form-control"}}
  </div>

  <div class="form-group">
    <label>Amount of owners</label>
    {{input type="number" class="form-control" value=car.amountOfOwners}}
    <div class="form-error-field" data-toggle="tooltip" title="">{{car.errors.amountOfOwners}}</div>
  </div>
  <button type="submit" class="btn btn-primary" {{action 'submit'}}>Submit</button>
</form>
