<form class="form input-sm" role="form">
  <div class="form-group">
    <label>Done By</label>
    {{input type="text" class="form-control" value=treatment.doneBy}}
  </div>

  <div class="form-group">
    <label>Description</label>
    {{input type="text" class="form-control" value=treatment.description}}
  </div>

  <div class="form-group">
    <label>Date</label>
    {{input type="text" class="form-control" value=treatment.date}}
  </div>

  <div class="form-group">
    <label>Kilometrage</label>
    {{input type="text" class="form-control" value=treatment.kilometrage}}
  </div>

  <div class="form-group">
    <label>Reason</label>
    {{view Ember.Select
           content=treatment.treatmentReasons
           optionValuePath="content.type"
           optionLabelPath="content.label"
           value=treatment.reason
           class="form-control"}}
  </div>

  <div class="form-group">
    <label>Category</label>
    {{view Ember.Select
           content=treatment.treatmentCategories
           optionValuePath="content.type"
           optionLabelPath="content.label"
           value=treatment.category
           class="form-control"}}
  </div>

  <div class="form-group">
    <label>Parts Replaced</label>
    {{input type="text" class="form-control" value=treatment.partsReplaced}}
  </div>
  <button type="submit" class="btn btn-primary" {{action 'submit'}}>Submit</button>
</form>
