{{input type="text" value=searchText placeholder="Search..."}}
<ul class="list-group">
  {{#each searchResults}}
  <li class="list-group-item">
    {{doneBy}} - {{date}} -{{kilometrage}} - {{link-to 'Details' 'treatment' this}}
  </li>
  {{/each}}
  </ul>
{{outlet}}

